<?php

$parameters = array(
    'db-address'   => 'XXXXXXXXXX',
    'db-name'     => 'XXXXXXXXXX',
    'db-user'     => 'XXXXXXXXXX',
    'db-pwd'      => 'XXXXXXXXXX',
    'login-bitly' => 'XXXXXXXXXX',
    'pwd-bitly'   => 'XXXXXXXXXX');
